<h5>Elegir categoría</h5>
<ul class="collapsible">
  <li *ngFor="let category of categoriesList">
    <div class="collapsible-header">
      <i class="material-icons">{{category.icon}}</i>
      {{category.name}}
    </div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s6" *ngFor="let categoryItem of category.categoryItem">
          <a (click)="searchCat(categoryItem.itemName)">{{categoryItem.itemName}}</a>
        </div>
      </div>
    </div>
  </li>
</ul>
