<app-layout>
  <div main-content class="grey lighten-5">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a class="breadcrumb">Perfil</a>
            <a class="breadcrumb">Tienda</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="row container">
      <h5 class="center">
        Lista de productos en venta
      </h5>
    </div>
    <div class="row container center-align">
      <a class="btn-large" routerLink="/register-product">Registrar</a>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="striped highlight centered">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Categoría</th>
              <th>Sub-Categoría</th>
              <th>Existencias</th>
              <th>Descuento</th>
              <th>Estado</th>
              <th>Costo</th>
              <th>Fecha de creacion</th>
              <th>Cupon</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productList">
              <td><img class="responsive-img" width="100" src="{{product.ImagenProducto[0].imagen}}"></td>
              <td>{{product.nombre}}</td>
              <td>{{product.subcategoria.categoria.nombre}}</td>
              <td>{{product.subcategoria.nombre}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.descuento}}%</td>
              <td *ngIf="product.condicion">Nuevo</td>
              <td *ngIf="!product.condicion">Usado</td>
              <td>$ {{product.costo}}</td>
              <td>{{product.fecha_creacion | date : 'short'}}</td>
              <td *ngIf="product.CuponProducto.length === 0"> <a class="btn modal-trigger"
                  href="#modalCoupon">Generar</a></td>
              <td *ngIf="product.CuponProducto.length !== 0">{{product.CuponProducto[0].codigo}}</td>
              <td *ngIf="product.CuponProducto.length !== 0">{{product.codigo}}</td>
              <td><a class="btn-floating btn blue"><i class="material-icons">edit</i></a></td>
              <td><a class="btn-floating btn red" (click)="deleteItem(product.id)"><i class="material-icons">delete</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="modalCoupon" class="modal">
      <div class="modal-content">
        <h4 style="margin-bottom: 50px;">Generar cupon</h4>
        <div class="input-field col s6">
          <input id="percentage" type="number" class="validate" min="1" max="99">
          <label for="percentage">Porcentaje de descuento</label>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn-flat">Aplicar</a>
      </div>
    </div>
  </div>
</app-layout>