<app-layout>
  <div main-content class="grey lighten-5">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a class="breadcrumb">Perfil</a>
            <a class="breadcrumb">Tienda</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="row container">
      <h5 class="center">
        Lista de productos en venta
      </h5>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn-large right"><i class="material-icons right">add</i>Crear</a>
      <div class="col s12">
        <table class="striped highlight centered">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Categoría</th>
              <th>Sub-Categoría</th>
              <th>Existencias</th>
              <th>Descuento</th>
              <th>Estado</th>
              <th>Cupon</th>
              <th>Fecha de creacion</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of billList">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-layout>