<app-layout>
  <div main-content class="grey lighten-5">
    <div class="row">
      <nav id="search-bar" class="col s4 offset-s4">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="row row-no-margin">
      <div class="col s3">
        <h5>Elegir categoría</h5>
        <ul class="collapsible">
          <li *ngFor="let category of categoryList">
            <div class="collapsible-header">
              <i class="material-icons">{{category.icono}}</i>
              {{category.nombre}}
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6" *ngFor="let categoryItem of category.subcategoria">
                  <a>{{categoryItem.nombre}}</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col s6">
        <ul class="collection hoverable product-card" *ngFor="let product of producList; let i = index">
          <li routerLink="/product-detail/{{product.id}}" class="collection-item item-no-padding">
            <div class="row row-no-margin">
              <div class="col s3">
                <img class="responsive-img" src="{{product.ImagenProducto[0].imagen}}">
              </div>
              <div class="col s9">
                <span *ngIf="producList[i].descuento != 0" class="new badge green" data-badge-caption="">{{product.descuento}}% de descuento! </span>
                <h4 class="product-name">{{product.nombre}}</h4>
                <span *ngIf="producList[i].condicion">Producto nuevo</span>
                <span *ngIf="!producList[i].condicion">Producto usado</span>
                <h5>$ {{product.costo}}</h5>
                <h6>{{product.stock}} disponibles</h6>
                <br>
                <span>{{product.subcategoria.categoria.nombre}} - {{product.subcategoria.nombre}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col s3">
        <h5>Filtrar productos</h5>
        <form action="#">
          <h6>En promoción</h6>
          <p>
            <label>
              <input type="checkbox" [(ngModel)]="discountFlag" name="discount" (change)="getProductsfiltered()"/>
              <span>Descuento</span>
            </label>
          </p>
          <div class="divider"></div>
          <h6>Estado</h6>
          <div class="row row-no-margin">
            <div class="col s6">
              <p>
                <label>
                  <input type="checkbox" [(ngModel)]="newFlag" name="new" (change)="getProductsfiltered()"/>
                  <span>Nuevo</span>
                </label>
              </p>
            </div>
            <div class="col s6">
              <p>
                <label>
                  <input type="checkbox" [(ngModel)]="usedFlag" name="used" (change)="getProductsfiltered()"/>
                  <span>Usado</span>
                </label>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row row-no-margin">
            <div class="col s12">
              <h6>Fecha de publicación</h6>
              <input type="text" class="datepicker">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-layout>