<app-layout>
  <div main-content class="grey lighten-5">
    <div class="row">
      <nav id="search-bar" class="col s4 offset-s4">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="row row-no-margin">
      <div class="col s3">
        <app-category></app-category>
      </div>
      <div class="col s6">
        <ul routerLink="/product-detail" id="product-card" class="collection hoverable">
          <li class="collection-item item-no-padding">
            <div class="row row-no-margin">
              <div class="col s3">
                <img class="responsive-img"
                  src="https://www.abcdin.cl/wcsstore/ABCDIN/images/televisores-led/1122691F13.jpg">
              </div>
              <div class="col s9">
                <h4>Televisor Led 48" full HD</h4>
                <h5>$1'200.000</h5>
                <h6>20 vendidos</h6>
                <span class="new badge green" data-badge-caption="50% de descuento!"></span>
                <br>
                <span>Tecnología - Televisores</span>
              </div>
            </div>
          </li>
        </ul>
        <ul class="collection hoverable">
          <li class="collection-item item-no-padding">
            <div class="row row-no-margin">
              <div class="col s3">
                <img class="responsive-img"
                  src="https://www.abcdin.cl/wcsstore/ABCDIN/images/televisores-led/1122691F13.jpg">
              </div>
              <div class="col s9">
                <h4>Televisor Led 48" full HD</h4>
                <h5>$1'200.000</h5>
                <h6>20 vendidos</h6>
                <span class="new badge green" data-badge-caption="50% de descuento!"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col s3">
          <h5>Filtrar productos</h5>
        <form action="#">
          <h6>En promoción</h6>
          <p>
            <label>
              <input type="checkbox" />
              <span>Descuento</span>
            </label>
          </p>
          <div class="divider"></div>
          <h6>Estado</h6>
          <div class="row row-no-margin">
            <div class="col s6">
              <p>
                <label>
                  <input type="checkbox" />
                  <span>Nuevo</span>
                </label>
              </p>
            </div>
            <div class="col s6">
              <p>
                <label>
                  <input type="checkbox" />
                  <span>Usado</span>
                </label>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row row-no-margin">
            <div class="col s12">
              <h6>Fecha de publicación</h6>
              <input type="text" class="datepicker">
            </div>
          </div>
        </form>
        <a class="waves-effect waves-light btn right">Aplicar filtros</a>
      </div>
    </div>
  </div>
</app-layout>