<nav>
  <div class="nav-wrapper grey lighten-2">
    <a href="#" class="brand-logo">
      <img class="responsive-img" id="logo-navbar" src="../../../assets/layout/neuromaker-logo.png" title="shop-logo" alt="logo">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="nav-link" href="">Categorías</a></li>
      <li><a class="nav-link" href="">Ofertas</a></li>
      <li><a class="nav-link" href="">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>
<ng-content select="[main-content]"></ng-content>
<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 id="footer-title" class="white-text">Neuromaker</h5>
        <p id="footer-description" class="grey-text text-lighten-4">Neuromarker es una plataforma que implementa mercadeo multinivel para
          alcanzar el máximo de la difusión de los contenidos que los clientes quieran ofertar en el ciberespacio.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 id="footer-link-title" class="white-text">Sitios de interes</h5>
        <ul>
          <li><a id="footer-link" class="grey-text text-lighten-3" href="#!">Preguntas frecuentes</a></li>
          <li><a id="footer-link" class="grey-text text-lighten-3" href="#!">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div id="footer-copyright-text" class="container">
    © 2019 Copyright Neuromaker
    </div>
  </div>
</footer>