#logo-navbar{
  width: 5em;
  padding-left: 10px;
  padding-top: 5px;
}

.nav-link{
  color: black !important;
  font-weight: bold;
}

#footer-title,#footer-description,#footer-link-title,#footer-link,#footer-copyright-text{
  color: black !important;
}