<app-layout>
  <div main-content class="grey lighten-5">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a class="breadcrumb">Productos</a>
            <a class="breadcrumb">Tecnología</a>
            <a class="breadcrumb">Televisores</a>
          </div>
        </div>
      </nav>
      <h3 class="center">Televisor Led 48" full HD</h3>
    </div>
    <div class="row container">
      <div class="col s6">
        <img class="materialboxed" width="400"
          src="https://www.abcdin.cl/wcsstore/ABCDIN/images/televisores-led/1122691F13.jpg">
      </div>
      <div class="col s6">
        <div class="card-panel grey lighten-5 hoverable">
          <span class="new badge green" data-badge-caption="50% de descuento!"></span>
          <h4>$1'200.000</h4>
          <div class="row">
            <div class="input-field">
              <div class="col s9">
                <select>
                  <option value="" disabled selected>Cantidad de unidades</option>
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                  <option value="3"> 3 </option>
                </select>
              </div>
              <div class="col s3">
                <span>3 unidades disponibles</span>
              </div>
            </div>
          </div>
          <h6><strong> 20 unidades vendidas </strong></h6>
          <br>
          <a class="waves-effect waves-light btn right">Añadir al carrito</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0px;">
      <div class="col s6">
        <h4>Descripción</h4>
        <p style="text-align: justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</app-layout>