<nav>
  <div class="nav-wrapper grey lighten-2">
    <a href="#" class="brand-logo hide-on-med-and-down">
      <img class="responsive-img" id="logo-navbar" src="assets/layout/neuromaker-logo.png" title="shop-logo" alt="logo">
    </a>
    <ul id="nav-mobile" class="right">
      <li *ngFor="let navLink of navLinkList">
        <a class="nav-link" [routerLink]="[navLink.url]" [routerLinkActive]="'activeLink'">{{navLink.text}}</a>
      </li>
      <li>
        <user-component></user-component>
      </li>
    </ul>
  </div>
</nav>